# .env inside all directories
**/.    env

# .env.local inside all directories
**/.env.local

# .env.development inside all directories
**/.env.development

# .env.production inside all directories
**/.env.production

# .env.test inside all directories
**/.env.test

# .env.staging inside all directories
**/.env.staging

# .env.development.local inside all directories
**/.env.development.local

# .env.production.local inside all directories
**/.env.production.local

# .env.test.local inside all directories
**/.env.test.local

# .env.staging.local inside all directories
**/.env.staging.local

# Node modules inside all directories
**/node_modules

# Next.js build
**/build

# Prisma
**/prisma

# Auth
**/auth.config.ts
**/auth.ts